.site-article h1 {margin-top: 0}

.site-article header time {
	margin: 1em 0 0 0;
	display: block;
	@include font-size(14);
	float: left;
}

.site-article .news-section-comments {margin: 1em 0 0 0;}

.site-article header p {
	clear: both;
	margin: 0 0 0.3em 0;
}

.article-fulltext p {@include font-size(16);}

/* attachments */
.article-attachments h3 {
	background: $d-green;
	padding: 0.4em;
	color: $white;
	font-weight: normal;
	font-family: $alpha-font;
	clear: both;
	@include font-size(16);
}

.article-fulltext {
	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px;
		border-left: 5px solid #eee;
		p {
			font-size: 17.5px;
			font-weight: 300;
			line-height: 1.25;
		}
	}
	table {
		box-shadow: 0 1px 0 0 $white;
		max-width: 100%;
		width: 100%;
	}
	table tr:first-child td:first-child {
  		border-top-left-radius: 2px;
	}
	table tr:first-child td:last-child {
  		border-top-right-radius: 2px;
	}
	table tr:last-child td:last-child {
 		border-bottom-right-radius: 2px;
	}
	table tr:last-child td:first-child {
  		border-bottom-left-radius: 2px;
	}
	table tr td {
  		padding: 7px;
  		border-left: 1px solid #ddd;
  		border-top: 1px solid #ddd;
	}
	table tr td:last-child {
  		border-right: 1px solid #ddd;
	}
	table tr:last-child td {
  		border-bottom: 1px solid #ddd;
	}
	table tbody > tr:nth-child(2n+1) > td,
	table .art-item .clearfix table tbody > tr:nth-child(2n+1) > th {
  		background-color: $l-grey;
	}

}

@media all and (min-width: 660px) {
	.article-attachments,
	.site-article .news-sections {
		float: left;
		width: 48%;
 		margin: 0 1%;
	}

	.article-comments {
		width: 100%;
		clear: both;
	}
}

@media all and (min-width:960px) {
	.site-article .news-sections {
		width: 100%;
		margin: 0;
	}

	.debate .news-sections {
		width: 48%;
 		margin: 0 1%;
	}
}

.flowplayer {background: $black;}

audio {width: 100%;}


/* slideshow */
.galleria-wrapper {
	min-width: 250px;
	max-width: 100%;
	min-height: 300px;
	max-height: 100%;
	background: $black;
}

/* social share */
.article-social {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 3em;
	max-width: 320px;
	li {
		display: block;
		float: left;
		width: 33%;
	}
}

/* debate */
.debate .news-sections {
	h3 {clear: none;}
	img {
		float: left;
		margin: 0 2em 1em 0;
	}
}

/* inline images */

.cs_fl_right {
	float: right;
	margin: 0 0 0 20px;
}

.cs_fl_left {
	float: left;
	margin: 0 20px 0 0;
}

.cs_img_caption {
	background: $l-grey;
	display: block;
	padding: 4px;
	margin: -30px 0 20px 0;
}