@-ms-viewport {
    width: device-width;
}

html {
	font: 64.5%/1.4 $beta-font;
	padding: 0;
	color: $black;
	width: 100%;
	height: 100%;
	margin: 0;
	
}

@media all and (min-width: 900px) {
	html {font: 67%/1.4 $beta-font;}
}

@media all and (min-width: 1400px) {
	html {font: 78%/1.4 $beta-font;}
}


body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.main,
.footer-main,
main {
	padding: 0 1em;
	max-width: 1200px;
	margin: 0 auto;
}

.main-alpha {
	position: relative;
	max-width: 900px;
}

@media all and (min-width: 960px) {
	.main-alpha {
		width: 66%;
		float: left;
	}

	.main-beta {
		width: 30%;
		float: right;
	}
}

.ease,
.ease:before,
.ease:after {
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.skip-link,
.acc {
	position: absolute;
	left: -599em;
}

.acc:focus,
.acc:focus * {
	color: $black;
	position: fixed;
	background: $white;
	border: 1px solid $black;
	left: 0;
	z-index:1000;
}

a:focus {
	background-color: $black !important;
	color: $white !important;
}

input:focus {
	background-color: $l-grey !important;
	color: $black !important;
}

body:focus {
	background-color: $white !important;
}

#comments:focus {
	background-color: $white !important;
	color: $black !important;
	outline: none;
}

.clearfix {
	*display: inline-block;
	&:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
}

/* wrapper */
.container-main {
	margin: 0 auto;
	max-width: 1024px;
}

.news-sections .ad {
	float: none;
	margin: 0 auto;
	display: block;
}

/* info messages */
.info,
.errors {
	padding: 0.5em;
	box-shadow: 2px 2px 10px $l-grey;
	margin: 0 0 10px 0;
	p {
		margin: 0;
	}
}

.info-success {
	box-shadow: 2px 2px 10px $d-green;
	span {color: $d-green;}
}

.info-error,
.errors li {
	box-shadow: 2px 2px 10px $red;
	span {color: $red;}
}

.info-hidden {display: none;}

.label-premium {
	display: inline-block;
	margin: 0 0 0 4px;
	background: $red;
	color: $white;
	padding: 2px 4px;
	@include font-size(12);
}

.box-poll fieldset {border: none;}
