@-ms-viewport {
    width: device-width;
}

html {
	font: 62.5%/1.4 $beta-font;
	padding: 0;
	color: $black;
	overflow-x: hidden;
	
}

@media all and (min-width: 900px) {
	html {font: 65%/1.4 $beta-font;}
}

@media all and (min-width: 1300px) {
	html {font: 72%/1.4 $beta-font;}
}


body {
	position: relative;
}

.main,
main {
	padding: 0 1em;
	max-width: 1200px;
	margin: 0 auto;
}

.main-alpha {
	position: relative;
	max-width: 900px;
}

@media all and (min-width: 960px) {
	.main-alpha {
		width: 66%;
		float: left;
	}

	.main-beta {
		width: 30%;
		float: right;
	}
}

.ease,
.ease:before,
.ease:after {
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}

.skip-link,
.acc {
	position: absolute;
	left: -599em;
}

.acc:focus {
	color: #000;
	background: #fff;
	border: 1px solid #000;
	left: 0;
	z-index:10;
}

.clearfix {
	*display: inline-block;
	&:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a:hover {text-decoration: underline;}

/* wrapper */
.container-main {
	margin: 0 auto;
	max-width: 1024px;
}

.ad {
	margin: 0 auto;
	display: block;
}