.footer-main {width: 100%;}

.footer-alpha {
	background: $d-green;
	margin: 4em -20px 0 -20px;
	padding: 1em;
	clear: both;
	h4 {
		padding: 0.2em;
		clear: both;
		@include font-size(16);
		font-weight: bold;
		margin: 0;
		color: $white;
		border-bottom: 1px solid $white;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 2em 0.5em;
	}
	a,
	p {
		color: $white;
		padding: 0.3em;
		display: block;
		text-decoration: none;
		@include font-size(15);
		width: 45%;
		float: left;
	}
	a:hover {
		background: $white;
		color: $d-green;
	}
	p {
		width: 90%;
		float: none;
	}
	.link-to-top {
		display: block;
		clear: both;
		color: $white;
		width: 100px;
		float: none;
		padding: 0.4em;
		margin: 0 auto;
		text-align: center;
		border-top: 2px solid $white;
		position: relative;
		background: rgba(0,0,0,0.1);
		&:before {
			content: "";
			border: 20px solid $white;
			border-color:  transparent transparent rgba(255,255,255,0.6) transparent;
			position: absolute;
			top: -42px;
			left: 37px;
		}
	}
}

.copyright {
	p {
		padding: 0;
		clear: left;
	}
	a {
		padding: 0 4px 0 0;
		width: auto;
	}
}


@media all and (min-width: 500px) {
	.footer-main div {
		width: 48%;
		margin: 0 1%;
		float: left
	}
}

@media all and (min-width: 800px) {
	.footer-main div {
		width: 31%;
	}
}