.header-main {
  padding: 1em 1em 0;
  form {border: none}
}

.logo-alpha {
	background: url(../../_img/tommy.svg) no-repeat 0 0;
	display: block;
	height: 50px;
	width: 300px;
	text-indent: -2013em;
	background-size: 36%;
}

.search-field-alpha {
  float: right;
  text-align: right;
  padding: 0.5em 0 0 0;
  max-width: 80%;
}

/* TODO _forms.scss */
input {
  border: 1px solid $black;
  padding: $space / 4;
  @include font-size(14);
  color: $black;
  max-width: 150px;
  background: #fff;
}

@media all and (min-width: 1200px) {
  .header-main {
    background: $d-green;
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
  }

  .logo-alpha {
    background: url(../../_img/tommy_white.png) no-repeat 0 0;
    background-size: 38%;
  }

  .main,
  main {
    padding-top: 80px;
  }

  .logo-alpha {float: left;}

  input[type="search"] {background: rgba(255,255,255,0.6);}
}