.header-main {
  padding: 1em 1em 0;
  form {border: none}
}

.logo-alpha {
  background: url(../../_img/tommy_black.png) no-repeat 0 0;
  display: block;
  height: 50px;
  width: 120px;
  text-indent: -2013em;
}

.svg .logo-alpha {
	background: url(../../_img/tommy.svg) no-repeat 0 0;
  background-size: 100% auto;
}

.search-field-alpha {
  float: left;
  text-align: right;
  padding: 0.5em 0 0 0;
  max-width: 80%;
}

/* TODO _forms.scss */
input {
  border: 1px solid $black;
  padding: $space / 4;
  @include font-size(14);
  color: $black;
  max-width: 150px;
  background: $white;
}

@media all and (min-width: 700px) {
  .search-field-alpha {
  float: right;
  }
}

@media all and (min-width: 1200px) {
  .header-main {
    background: $d-green;
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-shadow: 2px 0 8px $black;
    box-shadow: 2px 0 8px $black;
    height: 60px;
  }

  .svg .logo-alpha {
    background: url(../../_img/tommy_white.png) no-repeat 0 0;
    background-size: 100% auto;
  }

  .main,
  main {
    padding-top: 80px;
  }

  .logo-alpha {float: left;}

  input[type="search"] {background: rgba(255,255,255,0.6);}
}