.logo-alpha {
	background: url(../../_img/tommy.svg) no-repeat 0 0;
	display: block;
	height: 50px;
	width: 300px;
	text-indent: -2013em;
	background-size: 36%;
}

.search-field-alpha {
  float: right;
  text-align: right;
  padding: 0.5em 0 0 0;
  max-width: 80%;
}

/* TODO _forms.scss */
input {
  border: 1px solid $black;
  padding: $space / 3;
  @include font-size(14);
  color: $black;
  max-width: 60%;
}