.news-featured-inner,
.slider-multimedia div  {
	position: relative;
	h2 {
		position: absolute;
		background: $white;
		background: rgba($white, 0.8);
		bottom: 0.5em;
		left: 0;
		right: 0;
		padding: 0.5em;
		margin: 0;
		a {color: $black;}
	}
	h3 {
		position: absolute;
		top: 0;
		margin: 0;
		padding: 0.5em;
		right: 0;
		background: $d-green;
		color: $white;
		@include font-size(14);
		a {
			color: $white;
			font-weight: normal;
			text-decoration: none;
		}
	}
}

#slider-front h2 a {text-decoration: none;}

@media all and (max-width: 500px) {
	.news-featured-inner {margin: 2em -1em;}
}

.slider-multimedia div h3 {
	right: auto;
	left: 0;
	@include font-size(12);
	z-index: 1000;
}

.news-sections {
	h2,
	h2 a {
		background: $d-green;
		padding: 0.4em;
		color: $white;
		font-weight: normal;
		font-family: $alpha-font;
		clear: both;
		text-decoration: none;
	}
	h2 a {padding: 0;}
	h3 {
		clear: both;
		margin: 0.1em 0 0.3em 0;
	}
	h3 a {
		color: $black;
		font-weight: bold;
		@include font-size(18);
		display: block;
		line-height: 1.2;
	}
	p {@include font-size(16); line-height: 1.3;}
	img {
		display: block;
		float: left;
		margin: 0 1em 0 0;
	}
	.img-big img {
		float: none;
		clear: both;
	}
	time {
		@include font-size(13);
	}
	.article-author {
		@include font-size(13);
		padding: 0 0 0.5em 0;
		display: block;
	}
	.link-more {
		color: $d-green;
		text-align: right;
		display: block;
		clear: both;
		&:focus {
			background: $white !important;
			color: $d-green !important;
		}
	}
}

.site-section .news-sections {
	border-bottom: 1px solid $l-grey;
	padding: 0.5em 0 1em 0;
}


.news-sections-inner .news-sections-inner-alpha {
	padding: 0.5em 0 0 0;
	border-bottom: 1px solid $l-grey;
}

.news-section-comments {
	float: right;
	color: $d-green;
	padding: 0.1em;
	text-decoration: none;
	@include font-size(13);
}


.news-sections-clear {clear: both;}

.news-featured img {padding: 0 0 1em 0;}

 @media all and (min-width: 600px) {
 	.news-sections-inner {
 		width: 48%;
 		margin: 0 1%;
 		float: left;
 		h3 a {@include font-size(15);}
 		p {@include font-size(13);}
 	}
 }

/* slider */
.news-slider {
  	position: relative;
  	list-style: none;
  	overflow: hidden;
  	width: 100%;
  	padding: 0;
 	margin: 1.1em auto;
	.news-featured-inner {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
		img {
			display: block;
			height: auto;
			float: left;
			border: 0;
	  }
	}
}

.rslides_nav {
	position: absolute;
	top: 200px;
	left: 0;
	text-decoration: none;
	color: $black;
	background: $white;
	background: rgba(255,255,255,0.8);
	padding: 0.3em;
	z-index: 10;
}

.next {
	left: auto;
	right: 0;
}

.rslides_tabs {
	list-style: none;
	margin: 0;
	padding: 0 0 4em 0;
	text-align: center;
	position: absolute;
	z-index: 100;
	top: 16px;
	a {
		text-decoration: none;
		float: left;
		padding: 0.4em 0.8em;
		background: $d-green;
		color: $white;
		margin: 0 1em 10px 0;
		&:hover,
		&:focus {
			background: $white;
			color: $d-green;
		}
	}
}

#slider-front {margin: 16px 0 0 0;}

@media all and (min-width: 600px) {

 	.news-sections-inner {
 		width: 48%;
 		margin: 0 1%;
 		float: left;
 		h3 a {@include font-size(15);}
 		p {@include font-size(13);}
 	}
}

@media all and (min-width: 700px) {
	.news-featured-slider {margin: 0;}
}