.nav-top {
  margin: 0;
  padding: 0;
  float: right;
  li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0 0 0 $space;
    span {
      color: #fff;
      @include font-size(14);
    }
  }
  a {
    text-decoration: none;
    color: $black;
  }
}

.nav-link {
  position: relative;
  color: transparent;
  float: right;
  height: 40px;
  width: 40px;
  margin: 0.3em 0 0 0;
  &:before {
    color: $d-green;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    @include font-size(26);
  }
}

.iemobile .nav-link{
  display: block !important;
  :before {background: $d-green !important;}
}


.nav-alpha {
	clear: both;
  background: rgba($black, 0.9);
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  height: 0px;
  z-index: -1;
  -webkit-transition: padding 0.8s;
     -moz-transition: padding 0.8s;
       -o-transition: padding 0.8s;
          transition: padding 0.8s;
  a {
    @include font-size(18);
    text-decoration: none;
    color: $white;
    line-height: 2;
    float: left;
    width: 48%;
    margin: 0 1%;
  }
}

@media all and (min-width: 580px) {
  .nav-alpha a {
    width: 31%;
  }
}

.nav-link-close {
  display: none;
}

#body:target .nav-alpha {
  height: 160px;
  border: 1px solid $d-green;
  border-width: 2px 0 1px 0;
  padding: 0.5em 1em;
  z-index: 1000;
  a {border-top: 1px solid $l-green;}
}

@media all and (min-width: 580px) {
  #body:target .nav-alpha {height: 130px;}

  .nav-alpha a {
    width: 31%;
  }
}

@media all and (min-width: 700px) {
  .nav-link {display: none;}

  .nav-alpha {
    display: block;
    position: relative;
    top: -35px;
    max-width: 60%;
    z-index: 20;
    height: 0px;
    margin: 0 0 -2em 0;
    border-bottom: 1px solid $d-green;
    background: none;
    li {display: inline;}
    a {
      @include font-size(16);
      color: $d-green;
      width: auto;
      padding: 0 0.5em;
      &:hover {
        background: $d-green;
        color: $white;
      }
    }
    .nav-current a {
      background: $d-green;
      color: $white;
    }
  }

  #body:target .nav-alpha {
    display: block;
    position: relative;
    top: -35px;
    max-width: 60%;
    z-index: 20;
    height: 0px;
    margin: 0 0 -2em 0;
    border-bottom: 1px solid $d-green;
    background: none;
    a {
      @include font-size(16);
      color: $d-green;
      width: auto;
      padding: 0 0.5em;
      &:hover {
        background: $d-green;
        color: $white;
      }
    }
    .nav-current a {
      background: $d-green;
      color: $white;
    }
  }

  #body:target .nav-alpha {padding: 0; border: none;}
}

@media all and (min-width: 910px) {
  .nav-alpha {max-width: 70%;}
   #body:target .nav-alpha {max-width: 70%;}
}

@media all and (min-width: 1200px) {
  .nav-alpha {
    max-width: 60%;
    position: absolute;
    top: -13px;
    left: 160px;
    border-bottom: none;
    a {
      color: $white;
      @include font-size(14);
      margin: 0 0.1em;
      padding-top: 1em;
      &:hover {
        background: $white;
        color: $d-green;
      }
    }
    .nav-current a {
      background: $white;
      color: $d-green;
    }
  }

  #body:target .nav-alpha {
    max-width: 60%;
    position: absolute;
    top: -13px;
    left: 160px;
    border-bottom: none;
    a {
      color: $white;
      @include font-size(14);
      margin: 0 0.1em;
      padding-top: 1em;
      &:hover {
        background: $white;
        color: $d-green;
      }
    }
    .nav-current a {
      background: $white;
      color: $d-green;
    }
  }

  #body:target .nav-alpha {top: -20px;}

  .nav-top {
    margin: 10px 0 0 0;
    a {
      color: $white;
    }
  }
}

@media all and (min-width: 1300px) {
  .nav-alpha a {@include font-size(14);}
   #body:target .nav-alpha a {@include font-size(14);}
}


#body:target .nav-link-close {display: block;}

#body:target .nav-link-close:before {
  -webkit-transform: rotate(90deg);
}

#body:target .nav-link-open {display: none;}

