.users-search {clear: both;}

.user-edit-link {
	padding: 0.3em;
	background: $d-green;
	color: $white;
	float: right;
	text-decoration: none;
}

@media all and (min-width: 600px) {
	.user-list .news-sections {
		margin: 0 1%;
		width: 48%;
		float: left;
	}
}

@media all and (min-width: 460px) {
	.user-image {
		float: left;
		margin: 0 1em 2em 0;
	}
}

.user-articles-list article {
	border-bottom: 1px solid $l-grey;
	padding: 0.5em 0 2em 0
}

.user-feed {
	a {
		display: block;
		padding: 0 0 1em 0;
		border-bottom: 1px solid $l-grey;
	}
	p {margin: 0}
}